<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= typeof(author) != undefined ? author.blog_name : "CM2040-Database-Network-Web-Midterm" %></title>
    </head>
    <body>
        <!-- Header -->
        <% if(typeof(author) == "undefined") { %>
            <%- include('../components/header.ejs') %>
        <% } else { %>
            <%- include('../components/header.ejs', {author: author}) %>
        <% } %> 

        <!-- Hero -->
        <!-- Hero -->
        <div class="hero h-fit bg-base-100 py-16">
            <div class="container flex-col px-4 lg:flex-row">
                <div>
                    <h1 class="text-5xl font-bold">
                        <%= typeof(article) != 'undefined' ? article.title : "Aarticle Title" %>
                        <div class="badge badge-lg font-normal">Views: <%= typeof(article) != 'undefined' ? article.number_of_reads : "-1" %></div>
                        <div class="badge badge-lg font-normal">Likes: <%= typeof(article) != 'undefined' ? article.number_of_likes : "-1" %></div>
                    </h1>
                    <p class="pt-6">By <%= typeof(author) != 'undefined' ? author.name : "Author" %>, published on <%= typeof(article) != 'undefined' ? article.published_at : "published date" %></p>
                </div>
            </div>
        </div>

        <div class="w-full flex flex-col items-center py-8 bg-base-200 gap-y-8">
            <div class="container place-content-center flex flex-col gap-y-8 px-4">
                <p><%= typeof(article) != 'undefined' ? article.content : "Article content" %></p>
                <!-- like -->

                <a href="/reader/article/like?id=<%= article.id %>" class="flex flex-row place-content-end"><button class="btn btn-primary">Like this article</button></a>
            </div>
        </div>

        <!-- comments and like -->
        <div class="w-full flex flex-col items-center py-8 bg-base-100 gap-y-8">
            <div class="container place-content-center flex flex-col gap-y-8 px-4">
                <h3 class="text-3xl">Comments</h3>
                <div class="flex-col gap-y-2">
                    <% if(typeof(comments) != 'undefined') { %>
                        <% comments.forEach((comment) => { %>
                            <%- include("../components/comment.ejs", {comment: comment}) %> 
                    <% })} %>
                </div>

                <!-- comments -->
                <form action="/reader/article/comment" method="get" class="flex flex-col gap-2">
                    <h4 class="text-xl">Add a comment</h4>
                    <!-- name -->
                    <label for="name">Name</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="text" class="grow" name="name" autocomplete="off" placeholder="Name" />
                    </label>

                    <label for="comment">Comment</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="text" class="grow" name="comment" autocomplete="off" placeholder="comment" />
                    </label>
                    <div class="flex justify-end gap-x-2"><button class="btn btn-primary" name="id" value="<%= article.id %>">Submit</button></div>
                </form>
            </div>
        </div>

        <!-- footer -->
        <%- include('../components/footer.ejs') %>

        <!-- notifications -->
        <% if(typeof(message) != 'undefined') { %> <%- include('../components/notification.ejs', {message: message}) %>
        <% } %>
    </body>
</html>
