<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= typeof(author) != undefined ? author.blog_name : "CM2040-Database-Network-Web-Midterm" %></title>
    </head>
    <body>
        <!-- Header -->
        <% if(typeof(author) == "undefined") { %>
            <%- include('../components/header.ejs') %>
        <% } else { %>
            <%- include('../components/header.ejs', {author: author}) %>
        <% } %> 

        <!-- Hero -->
        <div class="hero min-h-screen bg-base-100">
            <div class="hero-content flex-col lg:flex-row">
                <div>
                    <h1 class="text-5xl font-bold"><%= typeof(author) != undefined ? author.blog_name : "CM2040-Database-Network-Web-Midterm" %></h1>
                    <p class="py-6">
                        Project assigned by SIM GE - UOL for the purpose of CM2040 Database Network
                        and The Web
                    </p>
                    <a href="/reader"><button class="btn btn-primary">View Articles</button></a>
                    <a href="/author"><button class="btn btn-secondary">Author Login</button></a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('../components/footer.ejs') %>
    </body>
</html>