<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title>CM2040-Database-Network-Web-Midterm</title>
    </head>
    <body>
        <!-- Header -->
        <%- include('../components/header.ejs') %>

        <!-- Hero -->
        <div class="hero h-fit bg-base-100 py-16">
            <div class="hero-content flex-col lg:flex-row">
                <!-- <img
                    src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
                    class="max-w-sm rounded-lg shadow-2xl" /> -->
                <div>
                    <h1 class="text-5xl font-bold">Reader's Homepage</h1>
                    <p class="pt-6">This is the Reader's Home Page Hello.</p>
                </div>
            </div>
        </div>

        <!-- Published Articles -->
        <div class="w-full flex flex-col items-center py-8 bg-base-200 gap-y-8">
            <div class="container place-content-center flex flex-col gap-y-8 px-4">
                <h2 class="text-4xl font-bold grow">Articles</h2>
                <div class="flex flex-wrap gap-4">
                    <% if(typeof(articles) != 'undefined') { %>
                        <% articles.forEach((article) => { %>
                            <%- include('../components/article.ejs', {article: article}) %>
                    <% })} %>

                    <%- include('../components/article.ejs')%>
                    <%- include('../components/article.ejs')%>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('../components/footer.ejs') %>

        <!-- notifications -->
        <% if(typeof(message) != 'undefined') { %> <%- include('../components/notification.ejs', {message: message}) %>
        <% } %>
    </body>
</html>
