<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= typeof(author) != undefined ? author.blog_name : "CM2040-Database-Network-Web-Midterm" %></title>
    </head>
    <body>
        <!-- Header -->
        <% if(typeof(author) == "undefined") { %>
            <%- include('../components/header.ejs') %>
        <% } else { %>
            <%- include('../components/header.ejs', {author: author}) %>
        <% } %> 

        <!-- Hero -->
        <%- include('../components/title.ejs', {title: "Settings", description: "Author Name Settings"}) %>

        <div class="w-full flex flex-col items-center py-8 bg-base-200">
            <div class="container flex flex-col gap-y-8 px-4">
                <form action="/author/settings/update" method="post" class="flex flex-col gap-2">
                    <h2 class="text-4xl font-bold">Author Settings</h2>
                    <div id="errors">
                        <% if (typeof updateErrors != 'undefined') updateErrors.forEach((error) => { %>
                        <p>Error: <%= error.msg %></p>
                        <% }) %> 
                      </div>
                    <label for="title">Blog Title</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="text" class="grow" name="blogTitle" autocomplete="off" placeholder="Blog Title" 
                        <% if (typeof(author) != 'undefined') { %>
                            value="<%= author.blog_name %>" 
                        <% } %> />
                    </label>

                    <label for="title">Author Name</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="text" class="grow" name="authorName" autocomplete="off" placeholder="Author Name" 
                        <% if (typeof(author) != 'undefined') { %>
                            value="<%= author.name %>" 
                        <% } %> />
                    </label>

                    <div class="flex justify-end gap-x-2">
                        <a href="/author">
                            <button type="button" class="btn btn-md bg-error sm:btn-sm md:btn-md">
                                Discard Changes
                            </button>
                        </a>
            
                        <button class="btn btn-md bg-primary sm:btn-sm md:btn-md"
                            type="submit">
                            Apply
                        </button>
                      </div>
                </form>
            </div>
            <div class="container flex flex-col gap-y-8 px-4">
                <form action="/author/settings/password" method="post" class="flex flex-col gap-2">
                    <h2 class="text-4xl font-bold">Change Password</h2>
                    <% if (typeof passwordErrors != 'undefined') passwordErrors.forEach((error) => { %>
                        <p>Error: <%= error.msg %></p>
                    <% }) %> 
                        
                    <label for="title">Old Password</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="password" class="grow" name="oldPassword" autocomplete="off" placeholder="Old Password" />
                    </label>

                    <label for="title">New Password</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="password" class="grow" name="newPassword" autocomplete="off" placeholder="New Password" />
                    </label>

                    <label for="title">Confirm New Password</label>
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="password" class="grow" name="confirmPassword" autocomplete="off" placeholder="Confirm New Password" />
                    </label>

                    <div class="flex justify-end gap-x-2">
                        <a href="/author">
                            <button type="button" class="btn btn-md bg-error sm:btn-sm md:btn-md">
                                Discard Changes
                            </button>
                        </a>
            
                        <button class="btn btn-md bg-primary sm:btn-sm md:btn-md"
                            type="submit">
                            Apply
                        </button>
                      </div>
                </form>
            </div>
        </div>

        <!-- footer -->
        <%- include('../components/footer.ejs') %>

        <!-- notifications -->
        <% if(typeof(message) != 'undefined') { %> <%- include('../components/notification.ejs', {message: message}) %>
        <% } %>
    </body>
</html>
